$white-color: #ffffff;
$app-black: #183029;
$app-dark-grey: #52645f;
$app-grey: #52645f80;
$app-light-grey: #bac6c3;
$app-white: #f1f4f3;
$app-green: #4a9f73;
$app-lime: #71bf97;
$home-header: #89d0ac;
$app-lime-op: #71bf9710;
$app-light-green: #e3f7ed;
$app-red: #fc4c02;
$app-orange: #ffa400;
$dark-orange: #ffa424;
$app-yellow: #fecf2f;
$app-tomato: #ff4f1e;
$dark-green: #183029;
$light-green: #52645f;
$lighter-green: #89d0ac;
$yellow: #ffd100;
$dark-orange: #ffa424;
$input-border-grey: #97a29f;
$bg-gray: #f8f9f9;
$hover-lime: #a2e3c2;

$ciutadellaBold: "Ciutadella Bold", sans-serif;
$ciutadellaMedium: "Ciutadella Medium", sans-serif;
$ciutadellaRegular: "Ciutadella Regular", sans-serif;
$ciutadellaSemiBold: "Ciutadella SemiBold", sans-serif;
$forzaBold: "Forza Bold", sans-serif;
$forzaMedium: "Forza Medium", sans-serif;
$forzaBlack: "Forza Black", sans-serif;
$forzaLight: "Forza Light", sans-serif;

$top-bar-height: 70px;
$address-bar-height: 44px;
$bottom-bar-height: 300px;

// Responsive breakpoints
$breakpoint-extra-large: 1440px;
$breakpoint-large: 992px;
$breakpoint-tab: 768px;
$breakpoint-small: 688px;
$breakpoint-very-small: 400px;
